include README.rst
include LICENSE.txt
include sense_emu/*.glade
include sense_emu/*.png
include sense_emu/*.xml
include sense_emu/*.txt
include sense_emu/translations/*/LC_MESSAGES/sense_emu_gui.po
include sense_emu/translations/*/LC_MESSAGES/sense_emu_gui.mo
