Source: sense-emu
Maintainer: Dave Jones <dave@waveform.org.uk>
Homepage: http://sense-emu.readthedocs.io/
Section: python
Priority: extra
Build-Depends:
 debhelper (>= 8),
 dh-python,
 python-all (>= 2.7),
 python-setuptools,
 python3-all,
 python3-setuptools,
 python3-sphinx
Standards-Version: 3.9.6
Vcs-Git: https://github.com/RPi-Distro/python-sense-emu.git
Vcs-Browser: https://github.com/RPi-Distro/python-sense-emu
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.2

Package: python-sense-emu
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}, python-numpy, python-pil, python-pkg-resources
Recommends: sense-emu-tools
Description: Client library for the Raspberry Pi Sense HAT emulator.
 sense-emu is an emulator of the Raspberry Pi Sense HAT which runs on multiple
 platforms, and provides an emulation of each sensor on the HAT, along with the
 pixel display and the joystick. The API is exactly the same as the official
 API, meaning code developed against the emulator should require no more than
 a one word change to run on the actual HAT.
 .
 This is the Python 2 version of the package. See sense-emu-tools for the
 emulator binary.

Package: python3-sense-emu
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}, python3-numpy, python3-pil, python3-pkg-resources
Recommends: sense-emu-tools
Description: Client library for the Raspberry Pi Sense HAT emulator.
 sense-emu is an emulator of the Raspberry Pi Sense HAT which runs on multiple
 platforms, and provides an emulation of each sensor on the HAT, along with the
 pixel display and the joystick. The API is exactly the same as the official
 API, meaning code developed against the emulator should require no more than
 a one word change to run on the actual HAT.
 .
 This is the Python 3 version of the package. See sense-emu-tools for the
 emulator binary.

Package: python-sense-emu-doc
Architecture: all
Section: doc
Depends: ${sphinxdoc:Depends}, ${misc:Depends}
Description: Documentation for the Raspberry Pi Sense HAT emulator.
 sense-emu is an emulator of the Raspberry Pi Sense HAT which runs on multiple
 platforms, and provides an emulation of each sensor on the HAT, along with the
 pixel display and the joystick. The API is exactly the same as the official
 API, meaning code developed against the emulator should require no more than
 a one word change to run on the actual HAT.
 .
 This is the version independent documentation for the package.

Package: sense-emu-tools
Architecture: all
Section: devel
Depends: ${misc:Depends}, ${python3:Depends}, python3-sense-emu (>= ${binary:Version}), python3-gi, python3-gi-cairo, python3-thonny
Description: Emulator for the Raspberry Pi Sense HAT.
 sense-emu is an emulator of the Raspberry Pi Sense HAT which runs on multiple
 platforms, and provides an emulation of each sensor on the HAT, along with the
 pixel display and the joystick. The API is exactly the same as the official
 API, meaning code developed against the emulator should require no more than
 a one word change to run on the actual HAT.
 .
 This is the tools (GUI and command line) for the emulator.

