#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1
export DH_OPTIONS

%:
	dh $@ --with python2,python3,sphinxdoc --buildsystem=python_distutils

override_dh_auto_install:
	# Perform a full installation of each of the packages
	python setup.py install --root debian/python-sense-emu --install-layout=deb
	python3 setup.py install --root debian/python3-sense-emu --install-layout=deb
	python3 setup.py install --root debian/sense-emu-tools --install-layout=deb
	# Strip out source from the tools package
	rm -fr debian/sense-emu-tools/usr/lib
	rm -fr debian/sense-emu-tools/usr/share/pyshared
	# Strip out binaries from the library packages
	rm debian/python-sense-emu/usr/bin/sense_emu_gui
	rm debian/python-sense-emu/usr/bin/sense_rec
	rm debian/python-sense-emu/usr/bin/sense_play
	rm debian/python3-sense-emu/usr/bin/sense_emu_gui
	rm debian/python3-sense-emu/usr/bin/sense_rec
	rm debian/python3-sense-emu/usr/bin/sense_play

#override_dh_auto_test:
#	# Don't run the tests!

override_dh_installdocs:
	python setup.py build_sphinx -b html
	dh_installdocs

